In [3]:
import pandas as pd

In [4]:
# Series data = 1D data
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data,index=index)
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
# DataFrame = heterogeneous data in every column, 2D-array = an array with homogeneous datatypes
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c0','c1','c2'], index=['r0','r1','r2'])
df

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [6]:
# read the csv file
obesity_data = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')

In [18]:
# get the 1st 5 rows
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [19]:
# get the last 5 rows
obesity_data.tail()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [20]:
# get the first 10 rows
obesity_data.head(10)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,22.0,Male,1.64,53.0,Sometimes,no,2.0,3.0,no,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,24.0,Male,1.78,64.0,Frequently,yes,3.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
9,22.0,Male,1.72,68.0,no,yes,2.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [21]:
# get the last 10 rows
obesity_data.tail(10)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
2101,25.722004,Female,1.628470,107.218949,Sometimes,yes,3.0,3.0,no,no,2.487070,yes,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,25.765628,Female,1.627839,108.107360,Sometimes,yes,3.0,3.0,no,no,2.320068,yes,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,21.016849,Female,1.724268,133.033523,Sometimes,yes,3.0,3.0,no,no,1.650612,yes,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,21.682367,Female,1.732383,133.043941,Sometimes,yes,3.0,3.0,no,no,1.610768,yes,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,21.285965,Female,1.726920,131.335786,Sometimes,yes,3.0,3.0,no,no,1.796267,yes,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [22]:
# gives the random sample data
obesity_data.sample()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
1054,30.553097,Male,1.780448,88.431954,Sometimes,yes,2.0,1.178708,no,no,1.791286,yes,0.893362,0.276364,Sometimes,Public_Transportation,Overweight_Level_II

In [24]:
# random sample data with fixed rows but changes for every execution
obesity_data.sample(5)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
40,21.000000,Female,1.670000,75.000000,Sometimes,yes,2.000000,3.000000,no,no,2.000000,yes,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1234,40.317787,Male,1.786318,98.447311,Sometimes,yes,2.000000,3.000000,no,no,2.680292,yes,1.549693,0.522259,Sometimes,Automobile,Obesity_Type_I
570,19.300435,Female,1.739354,49.649613,Sometimes,yes,3.000000,3.754599,no,no,1.692112,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
720,22.176922,Female,1.717460,51.491957,no,yes,2.486189,3.000000,no,no,1.064378,yes,2.206055,1.958089,Frequently,Public_Transportation,Insufficient_Weight
904,20.261925,Male,1.807538,85.316125,Sometimes,yes,2.000000,3.000000,no,no,1.968011,yes,1.072662,0.776758,Sometimes,Public_Transportation,Overweight_Level_I

In [27]:
# despite executing multiple times if we give random state any number the sample remains same
obesity_data.sample(5, random_state = 9)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
1652,25.058566,Male,1.764484,113.234349,Sometimes,yes,1.517912,3.000000,no,no,2.038958,yes,1.590255,0.001640,Sometimes,Public_Transportation,Obesity_Type_II
1018,22.000000,Male,1.691303,80.539000,Sometimes,yes,2.000000,2.038373,no,no,2.000000,yes,2.708250,1.506576,Sometimes,Public_Transportation,Overweight_Level_II
131,23.000000,Male,1.620000,58.000000,no,no,2.000000,3.000000,no,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
1162,41.743333,Female,1.678610,79.849252,no,yes,2.733129,3.000000,no,no,1.302594,yes,0.000000,1.103349,Sometimes,Automobile,Overweight_Level_II
1132,37.275298,Male,1.746055,83.282232,no,yes,2.746408,1.058123,no,no,2.265727,yes,0.885633,0.673408,Sometimes,Automobile,Overweight_Level_II

In [29]:
# get all the columns
obesity_data.columns

Index(['Age', 'Gender', 'Height', 'Weight', 'CALC', 'FAVC', 'FCVC', 'NCP',
       'SCC', 'SMOKE', 'CH2O', 'family_history_with_overweight', 'FAF', 'TUE',
       'CAEC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [32]:
# lists all the columns
# list(obesity_data.columns)
obesity_data.columns.tolist()

['Age',
 'Gender',
 'Height',
 'Weight',
 'CALC',
 'FAVC',
 'FCVC',
 'NCP',
 'SCC',
 'SMOKE',
 'CH2O',
 'family_history_with_overweight',
 'FAF',
 'TUE',
 'CAEC',
 'MTRANS',
 'NObeyesdad']

In [34]:
# list the index
obesity_data.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [36]:
# gives rows and columns (attributes of df)
obesity_data.shape

(2111, 17)

In [37]:
# total data
obesity_data.size

35887

In [38]:
# common stats of df

obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [39]:
# 
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   float64
 1   Gender                          2111 non-null   object
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   CALC                            2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   SCC                             2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  family_history_with_overweight  2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CAEC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

# Accessing required rows or columns using loc (location based index), iloc (integer based location index)

In [41]:
# syntax = df.loc[row,columns] where column only excepts column name & not integers in row
obesity_data.loc[0]

Age                                                21.0
Gender                                           Female
Height                                             1.62
Weight                                             64.0
CALC                                                 no
FAVC                                                 no
FCVC                                                2.0
NCP                                                 3.0
SCC                                                  no
SMOKE                                                no
CH2O                                                2.0
family_history_with_overweight                      yes
FAF                                                 0.0
TUE                                                 1.0
CAEC                                          Sometimes
MTRANS                            Public_Transportation
NObeyesdad                                Normal_Weight
Name: 0, dtype: object

In [42]:
# here slicing index are exclusive
obesity_data.loc[0:5,'Age']

0    21.0
1    21.0
2    23.0
3    27.0
4    22.0
5    29.0
Name: Age, dtype: float64

In [44]:
obesity_data.head(6)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight

In [52]:
obesity_data.loc[[0,5,7],['Age','Height','FAF']]

    Age  Height  FAF
0  21.0    1.62  0.0
5  29.0    1.62  0.0
7  22.0    1.64  3.0

In [45]:
# all rows & age to faf columns,  these slicings are like slicing for lists in python
obesity_data.loc[:,'Age':'FAF']

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF
0,21.000000,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000
3,27.000000,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000
4,22.000000,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452

In [49]:
# syntax = df.iloc[rows, column]
# slicing index are inclusive
obesity_data.iloc[:, 0:5]

            Age  Gender    Height      Weight        CALC
0     21.000000  Female  1.620000   64.000000          no
1     21.000000  Female  1.520000   56.000000   Sometimes
2     23.000000    Male  1.800000   77.000000  Frequently
3     27.000000    Male  1.800000   87.000000  Frequently
4     22.000000    Male  1.780000   89.800000   Sometimes
...         ...     ...       ...         ...         ...
2106  20.976842  Female  1.710730  131.408528   Sometimes
2107  21.982942  Female  1.748584  133.742943   Sometimes
2108  22.524036  Female  1.752206  133.689352   Sometimes
2109  24.361936  Female  1.739450  133.346641   Sometimes
2110  23.664709  Female  1.738836  133.472641   Sometimes

[2111 rows x 5 columns]

In [54]:
obesity_data.iloc[[0,3,6],[0,2,4]]

    Age  Height        CALC
0  21.0    1.62          no
3  27.0    1.80  Frequently
6  23.0    1.50   Sometimes

# At and iat are similary to loc, iloc but more optimized for single value access

In [60]:
# only single value access and we should definetly give row and columnn place value else it throws error
obesity_data.at[0,'Age']

np.float64(21.0)

In [59]:
# single value access and integer in column value
obesity_data.iat[0,1]

'Female'

# Accessing values based on only columns

In [62]:
# bracket notion
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [65]:
# dot notation
obesity_data.Age

## issue with dot notiation = if there are spaces between a column name it raise some error.
# so bracket notion is preferable

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [68]:
# access multiple columns

obesity_data[['Age','Height','Weight']]

            Age    Height      Weight
0     21.000000  1.620000   64.000000
1     21.000000  1.520000   56.000000
2     23.000000  1.800000   77.000000
3     27.000000  1.800000   87.000000
4     22.000000  1.780000   89.800000
...         ...       ...         ...
2106  20.976842  1.710730  131.408528
2107  21.982942  1.748584  133.742943
2108  22.524036  1.752206  133.689352
2109  24.361936  1.739450  133.346641
2110  23.664709  1.738836  133.472641

[2111 rows x 3 columns]

# Filtering Data

In [69]:
obesity_data.head(20)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,22.0,Male,1.64,53.0,Sometimes,no,2.0,3.0,no,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,24.0,Male,1.78,64.0,Frequently,yes,3.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
9,22.0,Male,1.72,68.0,no,yes,2.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
10,26.0,Male,1.85,105.0,Sometimes,yes,3.0,3.0,no,no,3.0,yes,2.0,2.0,Frequently,Public_Transportation,Obesity_Type_I
11,21.0,Female,1.72,80.0,Sometimes,yes,2.0,3.0,yes,no,2.0,yes,2.0,1.0,Frequently,Public_Transportation,Overweight_Level_II
12,22.0,Male,1.65,56.0,Sometimes,no,3.0,3.0,no,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,41.0,Male,1.80,99.0,Frequently,yes,2.0,3.0,no,no,2.0,no,2.0,1.0,Sometimes,Automobile,Obesity_Type_I
14,23.0,Male,1.77,60.0,Sometimes,yes,3.0,1.0,no,no,1.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,22.0,Female,1.70,66.0,Sometimes,no,3.0,3.0,yes,no,2.0,yes,2.0,1.0,Always,Public_Transportation,Normal_Weight
16,27.0,Male,1.93,102.0,Sometimes,yes,2.0,1.0,no,no,1.0,yes,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,29.0,Female,1.53,78.0,no,yes,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Obesity_Type_I
18,30.0,Female,1.71,82.0,no,yes,3.0,4.0,no,yes,1.0,yes,0.0,0.0,Frequently,Automobile,Overweight_Level_II
19,23.0,Female,1.65,70.0,Sometimes,no,2.0,1.0,no,no,2.0,yes,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [77]:
# single condition to filter the data
obesity_data.loc[obesity_data['Height']>1]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
3,27.000000,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
4,22.000000,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [78]:
# using 2 conditions to filter the data with and condition
obesity_data.loc[(obesity_data['Weight']<50) & (obesity_data['NObeyesdad']== 'Normal_Weight')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
36,22.0,Female,1.56,49.0,no,yes,2.0,3.0,yes,no,1.0,no,2.0,0.0,Sometimes,Walking,Normal_Weight
37,21.0,Female,1.60,48.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,20.0,Female,1.50,44.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,21.0,Female,1.55,49.0,Sometimes,yes,2.0,3.0,no,no,3.0,yes,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,24.0,Female,1.60,48.0,no,yes,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
113,22.0,Female,1.50,49.0,no,no,2.0,1.0,no,no,2.0,yes,3.0,0.0,Sometimes,Walking,Normal_Weight
156,35.0,Female,1.53,45.0,no,no,3.0,3.0,no,no,1.0,yes,0.0,1.0,Frequently,Automobile,Normal_Weight
176,18.0,Female,1.57,48.0,no,yes,3.0,1.0,no,no,1.0,yes,1.0,0.0,Always,Public_Transportation,Normal_Weight
180,18.0,Female,1.58,48.0,no,yes,2.0,3.0,no,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
218,21.0,Female,1.50,42.3,no,no,1.0,1.0,no,no,2.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
234,19.0,Female,1.59,49.0,no,yes,2.0,1.0,no,no,2.0,yes,2.0,0.0,no,Public_Transportation,Normal_Weight
244,21.0,Female,1.54,49.0,Sometimes,no,2.0,1.0,yes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,26.0,Female,1.59,47.0,Sometimes,yes,2.0,1.0,no,no,2.0,yes,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,16.0,Female,1.57,49.0,Sometimes,yes,2.0,4.0,no,no,2.0,no,0.0,1.0,Always,Public_Transportation,Normal_Weight
307,23.0,Female,1.59,48.0,Sometimes,yes,2.0,1.0,no,no,1.0,yes,0.0,2.0,Frequently,Public_Transportation,Normal_Weight
318,25.0,Female,1.56,45.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,21.0,Female,1.54,47.0,no,no,3.0,3.0,no,no,1.0,yes,2.0,0.0,Always,Public_Transportation,Normal_Weight
359,33.0,Female,1.56,48.0,Sometimes,no,2.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,16.0,Female,1.55,45.0,no,yes,2.0,3.0,no,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
445,19.0,Female,1.51,45.0,Sometimes,yes,2.0,4.0,no,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,19.0,Female,1.50,45.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,20.0,Male,1.56,45.0,Sometimes,no,2.0,3.0,no,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [80]:
# or condition

obesity_data.loc[(obesity_data['Weight']<50) | (obesity_data['NObeyesdad']== 'Normal_Weight')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.000000,3.000000,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.000000,3.000000,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.000000,3.000000,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
5,29.000000,Male,1.620000,53.000000,Sometimes,yes,2.000000,3.000000,no,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,23.000000,Female,1.500000,55.000000,Sometimes,yes,3.000000,3.000000,no,no,2.000000,yes,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,19.269079,Female,1.580920,44.753943,Sometimes,no,3.000000,2.975362,yes,no,1.246822,no,0.979701,0.000000,Frequently,Public_Transportation,Insufficient_Weight
738,19.946244,Female,1.603435,45.000000,Sometimes,no,3.000000,3.000000,yes,no,2.487919,no,1.230441,0.000000,Frequently,Public_Transportation,Insufficient_Weight
739,19.639431,Female,1.535350,42.000000,Sometimes,yes,3.000000,1.000000,no,no,1.496810,no,0.000000,0.513427,Frequently,Public_Transportation,Insufficient_Weight
740,19.000000,Female,1.531610,42.000000,Sometimes,yes,2.749268,1.394539,no,no,1.322048,no,0.463949,0.800993,Frequently,Public_Transportation,Insufficient_Weight
741,19.434709,Female,1.525691,42.000000,Sometimes,yes,3.000000,1.000000,no,no,1.764055,no,0.000000,0.560887,Frequently,Public_Transportation,Insufficient_Weight

In [82]:
# short hand notation
obesity_data[obesity_data['Height']>1]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
3,27.000000,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
4,22.000000,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [84]:
# short hand notion with or condition

obesity_data[(obesity_data['Weight']<50) | (obesity_data['NObeyesdad']== 'Normal_Weight')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.000000,Female,1.620000,64.000000,no,no,2.000000,3.000000,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21.000000,Female,1.520000,56.000000,Sometimes,no,3.000000,3.000000,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23.000000,Male,1.800000,77.000000,Frequently,no,2.000000,3.000000,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
5,29.000000,Male,1.620000,53.000000,Sometimes,yes,2.000000,3.000000,no,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,23.000000,Female,1.500000,55.000000,Sometimes,yes,3.000000,3.000000,no,no,2.000000,yes,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,19.269079,Female,1.580920,44.753943,Sometimes,no,3.000000,2.975362,yes,no,1.246822,no,0.979701,0.000000,Frequently,Public_Transportation,Insufficient_Weight
738,19.946244,Female,1.603435,45.000000,Sometimes,no,3.000000,3.000000,yes,no,2.487919,no,1.230441,0.000000,Frequently,Public_Transportation,Insufficient_Weight
739,19.639431,Female,1.535350,42.000000,Sometimes,yes,3.000000,1.000000,no,no,1.496810,no,0.000000,0.513427,Frequently,Public_Transportation,Insufficient_Weight
740,19.000000,Female,1.531610,42.000000,Sometimes,yes,2.749268,1.394539,no,no,1.322048,no,0.463949,0.800993,Frequently,Public_Transportation,Insufficient_Weight
741,19.434709,Female,1.525691,42.000000,Sometimes,yes,3.000000,1.000000,no,no,1.764055,no,0.000000,0.560887,Frequently,Public_Transportation,Insufficient_Weight

## Regular Expressions

In [90]:
# CONTAINS

obesity_data.loc[obesity_data['NObeyesdad'].str.contains('Normal')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,25.0,Male,1.66,68.0,Sometimes,yes,2.0,3.0,no,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,20.0,Male,1.80,65.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,2.0,0.0,Frequently,Motorbike,Normal_Weight
494,18.0,Female,1.67,66.0,Sometimes,yes,3.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,19.0,Male,1.80,60.0,no,yes,3.0,1.0,yes,no,1.0,yes,0.0,0.0,Always,Motorbike,Normal_Weight
497,20.0,Male,1.56,45.0,Sometimes,no,2.0,3.0,no,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [91]:
# Starts with
obesity_data.loc[obesity_data['NObeyesdad'].str.startswith('Normal')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,25.0,Male,1.66,68.0,Sometimes,yes,2.0,3.0,no,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,20.0,Male,1.80,65.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,2.0,0.0,Frequently,Motorbike,Normal_Weight
494,18.0,Female,1.67,66.0,Sometimes,yes,3.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,19.0,Male,1.80,60.0,no,yes,3.0,1.0,yes,no,1.0,yes,0.0,0.0,Always,Motorbike,Normal_Weight
497,20.0,Male,1.56,45.0,Sometimes,no,2.0,3.0,no,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [88]:
obesity_data.loc[obesity_data['NObeyesdad'].str.startswith('Weight')]

Empty DataFrame
Columns: [Age, Gender, Height, Weight, CALC, FAVC, FCVC, NCP, SCC, SMOKE, CH2O, family_history_with_overweight, FAF, TUE, CAEC, MTRANS, NObeyesdad]
Index: []

In [92]:
# without loc

obesity_data[obesity_data['NObeyesdad'].str.startswith('Normal')]

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,25.0,Male,1.66,68.0,Sometimes,yes,2.0,3.0,no,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,20.0,Male,1.80,65.0,Sometimes,yes,2.0,3.0,no,no,1.0,no,2.0,0.0,Frequently,Motorbike,Normal_Weight
494,18.0,Female,1.67,66.0,Sometimes,yes,3.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,19.0,Male,1.80,60.0,no,yes,3.0,1.0,yes,no,1.0,yes,0.0,0.0,Always,Motorbike,Normal_Weight
497,20.0,Male,1.56,45.0,Sometimes,no,2.0,3.0,no,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

# Updating data

## using loc - value based on index

In [8]:
obesity_data.loc[0,'Age'] = 22

In [9]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,22,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [10]:
obesity_data.loc[:,'SMOKE'] = 'yes'

In [11]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,22,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [12]:
obesity_data.tail()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
2106,20.976842,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,yes,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,21.982942,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,yes,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,22.524036,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,yes,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24.361936,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,yes,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,23.664709,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,yes,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [13]:
# to revert back the data in obsity_data df we can re-read it from source csv

obesity_data = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')

In [14]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [15]:
obesity_data.loc[[2,3],'Height'] = 1.6

In [16]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.60,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [19]:
obesity_data.loc[:2,'SMOKE'] = 'may be'

In [20]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,may be,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,may be
2,23.0,Male,1.60,77.0,Frequently,no,2.0,3.0,no,may be,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

## using iloc - value based on integer

In [23]:
obesity_data.iloc[1,11]= 'no data'

In [24]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,may be,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,may be,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,may be
2,23.0,Male,1.60,77.0,Frequently,no,2.0,3.0,no,may be,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

In [25]:
obesity_data.iloc[:,9] = "doesnt matter"

In [26]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,doesnt matter,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,doesnt matter,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,may be
2,23.0,Male,1.60,77.0,Frequently,no,2.0,3.0,no,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,doesnt matter,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

## Using at (value based column) - for single value edits

In [29]:
obesity_data.at[1,'NObeyesdad']= 'overweight'

In [30]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,doesnt matter,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,doesnt matter,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be
2,23.0,Male,1.60,77.0,Frequently,no,2.0,3.0,no,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,doesnt matter,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

## Using iat (index based column)- for single value edits

In [32]:
obesity_data.iat[2,1] = "secret"

In [33]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,doesnt matter,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,doesnt matter,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,doesnt matter,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

In [36]:
# short hand notation

obesity_data['SMOKE'] = 'yes'

In [35]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

# Transformations

## using apply & function

In [37]:
# defining an incremental funciton
def increment_age_by_5(x):
    return x+5
    
obesity_data['Age'].apply(increment_age_by_5)   # this temporarily shows change in ouput value but df will not change

0       26.000000
1       26.000000
2       28.000000
3       32.000000
4       27.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64

In [38]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

In [39]:
def increment_age_by_5(x):
    return x+5
    
obesity_data['Age'] = obesity_data['Age'].apply(increment_age_by_5)

In [40]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke
0,26.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
1,26.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be
2,28.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be
3,32.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN
4,27.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN

## using apply and lambda

In [41]:
obesity_data['Age'] = obesity_data['Age'].apply(lambda x : x-5)

obesity_data['Age'].head()

0    21.0
1    21.0
2    23.0
3    27.0
4    22.0
Name: Age, dtype: float64

## Adding new column along with lambda

In [42]:
obesity_data['Age category'] = obesity_data['Age'].apply(lambda x : 'Very Young' if x<25 else 'not so young' )

In [44]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young

## Using Numpy for adding new column

In [46]:
import numpy as np

obesity_data['New Age Category'] = np.where(obesity_data['Age'] < 25, 'very yound', 'not so young')

In [47]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

# Insert & Drop Columns

In [55]:
# syntax = insert(col_num, col_name, value)
obesity_data.insert(4,'BMI',20)

In [52]:
obesity_data.head()

,Age,Gender,Height,Weight,BMI,CALC,FAVC,FCVC,NCP,SCC,...,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,20,no,no,2.0,3.0,no,...,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,20,Sometimes,no,3.0,3.0,yes,...,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,20,Frequently,no,2.0,3.0,no,...,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,20,Frequently,no,3.0,3.0,no,...,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,20,Sometimes,no,2.0,1.0,no,...,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [56]:
# drop the column, inplace is given to delete the data in original data frame
obesity_data.drop(columns='BMI',inplace=True)

In [57]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [58]:
# insert data with some calculation

obesity_data.insert(4,'BMI',obesity_data['Weight']/obesity_data['Height']**2)

In [59]:
obesity_data.head()

,Age,Gender,Height,Weight,BMI,CALC,FAVC,FCVC,NCP,SCC,...,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,24.386526,no,no,2.0,3.0,no,...,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,24.238227,Sometimes,no,3.0,3.0,yes,...,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,30.078125,Frequently,no,2.0,3.0,no,...,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,33.984375,Frequently,no,3.0,3.0,no,...,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,28.342381,Sometimes,no,2.0,1.0,no,...,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [60]:
# we can also change df like this

obesity_data = obesity_data.drop(columns='BMI')

In [61]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

# Delete and Rename

In [69]:
obesity_data.insert(4,'BMI',obesity_data['Weight']/obesity_data['Height']**2)

In [70]:
obesity_data.insert(4,'BMI new',obesity_data['Weight']/obesity_data['Height']**2)

In [71]:
obesity_data.head()

,Age,Gender,Height,Weight,BMI new,BMI,CALC,FAVC,FCVC,NCP,...,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,24.386526,24.386526,no,no,2.0,3.0,...,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,24.238227,24.238227,Sometimes,no,3.0,3.0,...,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,30.078125,30.078125,Frequently,no,2.0,3.0,...,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,33.984375,33.984375,Frequently,no,3.0,3.0,...,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,28.342381,28.342381,Sometimes,no,2.0,1.0,...,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [72]:
# drop multiple columns
obesity_data.drop(columns=['BMI new','BMI'],inplace = True)

In [73]:
obesity_data.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,Frequently,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,Frequently,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [75]:
del obesity_data['CALC']

In [76]:
obesity_data.head()

,Age,Gender,Height,Weight,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

## Rename

In [77]:
# single column rename
obesity_data.rename(columns={'NObeyesdad':'obesity'},inplace=True)

In [78]:
obesity_data.head()

,Age,Gender,Height,Weight,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,obesity,Smoke,Age category,New Age Category
0,21.0,Female,1.62,64.0,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [79]:
# multiple column rename
obesity_data.rename(columns={'obesity':'category','New Age Category':'redundant info'},inplace=True)

In [80]:
obesity_data.head()

,Age,Gender,Height,Weight,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,category,Smoke,Age category,redundant info
0,21.0,Female,1.62,64.0,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
1,21.0,Female,1.52,56.0,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young,very yound
2,23.0,secret,1.60,77.0,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young,very yound
3,27.0,Male,1.60,87.0,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young,not so young
4,22.0,Male,1.78,89.8,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young,very yound

In [81]:
del obesity_data['redundant info']

In [82]:
obesity_data.head()

,Age,Gender,Height,Weight,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,category,Smoke,Age category
0,21.0,Female,1.62,64.0,no,2.0,3.0,no,yes,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young
1,21.0,Female,1.52,56.0,no,3.0,3.0,yes,yes,3.0,no data,3.0,0.0,Sometimes,Public_Transportation,overweight,may be,Very Young
2,23.0,secret,1.60,77.0,no,2.0,3.0,no,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,may be,Very Young
3,27.0,Male,1.60,87.0,no,3.0,3.0,no,yes,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I,NaN,not so young
4,22.0,Male,1.78,89.8,no,2.0,1.0,no,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,Very Young

# Joins - Inner, Outer, Left, Right

In [83]:
df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['vijay','kiran','teja','rusum']
})

df2 = pd.DataFrame({
    'id': [3,4,5,6],
    'name': ['ca','ai','python','comm']
})

inner_result = pd.merge(df1,df2,how='inner',on='id')
inner_result

   id name_x name_y
0   3   teja     ca
1   4  rusum     ai

In [84]:
outer_join = pd.merge(df1,df2,how='outer',on='id')
outer_join

   id name_x  name_y
0   1  vijay     NaN
1   2  kiran     NaN
2   3   teja      ca
3   4  rusum      ai
4   5    NaN  python
5   6    NaN    comm

In [87]:
right_join = pd.merge(df1,df2,how='right',on='id')
right_join

   id name_x  name_y
0   3   teja      ca
1   4  rusum      ai
2   5    NaN  python
3   6    NaN    comm

In [86]:
left_join = pd.merge(df1,df2,how='left',on='id')
left_join

   id name_x name_y
0   1  vijay    NaN
1   2  kiran    NaN
2   3   teja     ca
3   4  rusum     ai

## join on different id names

In [89]:
df3 = pd.DataFrame({
    'id1':[1,2,3,4],
    'name':['vijay','kiran','teja','rusum']
})

df4 = pd.DataFrame({
    'id2': [3,4,5,6],
    'name': ['ca','ai','python','comm']
})

inner_result = pd.merge(df3,df4,how='inner',left_on='id1',right_on='id2')
inner_result

   id1 name_x  id2 name_y
0    3   teja    3     ca
1    4  rusum    4     ai

# Concatinating 2 dataframes

In [91]:
df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['vijay','kiran','teja','rusum']
})

df2 = pd.DataFrame({
    'id': [3,4,5,6],
    'name': ['ca','ai','python','comm']
})

# axis 0,1 are stack one on another, side by side respectively
# ignore_index = gives continuous indexing else it gives indicies of respective df

result_1 = pd.concat([df1,df2],axis=0,ignore_index=True)
result_1

   id    name
0   1   vijay
1   2   kiran
2   3    teja
3   4   rusum
4   3      ca
5   4      ai
6   5  python
7   6    comm

In [94]:
result_2 = pd.concat([df1,df2],axis=1)
result_2

   id   name  id    name
0   1  vijay   3      ca
1   2  kiran   4      ai
2   3   teja   5  python
3   4  rusum   6    comm

In [96]:
# creates multilevel indexing like partitioin based on keys specified
result_3 = pd.concat([df1,df2],axis=0,keys=['df1','df2'])
result_3

       id    name
df1 0   1   vijay
    1   2   kiran
    2   3    teja
    3   4   rusum
df2 0   3      ca
    1   4      ai
    2   5  python
    3   6    comm